<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Tech Blogs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/about.css"> <!-- Create a new CSS file for the About Us page -->
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Your Tech Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="/">HOME</a></li>
                    <li id="about"><a href="/about">ABOUT US</a></li>
                    <li id="contact"><a href="/contact">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav> 

    <div class="container-inner">
        <div>
            <h1 class="title">About Us</h1>
        </div>
        <div class="about-content">
            <div class="about-text">
                <p>Welcome to Your Tech Blog, a platform curated by Pranal Rokade. I am passionate about technology and dedicated to providing a space for tech enthusiasts to share their knowledge and insights through blog posts.</p>

                <p>At Your Tech Blog, our mission is to foster a community where individuals can express their ideas, discoveries, and experiences in the ever-evolving world of technology. Whether you're a seasoned developer or a newcomer to the tech scene, this is your home for sharing and learning.</p>

                <p>Explore the latest trends, discover valuable coding tips, and connect with a community of like-minded individuals. Your Tech Blog is here to empower and inspire your tech journey.</p>
            </div>
            <div class="about-image">
                <img src="https://placekitten.com/400/300" alt="Your Tech Blog Team">
            </div>
        </div>
        <a href="/"><button class='btn-red'>Back to Home</button></a>

    </div>
</body>

</html>
